<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      <% if Rails.env.development? %>
          <pre class='debug_dump'>
            <% for header in request.env.select {|k,v| k.match("^HTTP.*")} %>
<%=header[0].split('_',2)[1]%>:<%=header[1]%>
          <% end %>
</pre>
      <% end %>


    </div>
  </body>
</html>